# Primeiros Exemplos

In [ ]:
print('primeiro programa')
1 \
  + 2

help(print)

In [ ]:
1+2+3
4+5+6

In [ ]:
print(1+2+3)
print(4+5+6)

# Tipos Básicos

In [ ]:
print(True)
print(False)
print(1.2+1)
print('qualquer texto em qualquer língua')
print("tbm funciona com aspas duplas")
print('você é ' + 3 * 'muito ' + 'legal!')
#print(3 + '3') -> ambiguidade
print([1, 2, 3])
print({'nome':'Pedro', 'idade':24})
print(None)

# Variáveis

In [ ]:
a = 10
b = 5.2

print(a+b)

a = 'Agora o a é uma string'
print(a)
a
b

#print(a+b) -> operando um string com um float da errado

# Comentários

In [ ]:
# Minhas variáveis 
salario = 4528.3
despesas = 3845.4

"""
A ideia é calcular
o quanto vai sobrar 
no fim do mes
"""
print(salario-despesas)

# print('Fim')
print('Fim de verdade') #comentário na mesma linha pode tbm 

'''
Tres aspas simples
também funciona
'''

print('Fim de verdade verdadeira \
      ')

# Operadores Aritméticos

In [ ]:
print(1+2)
print(4-7)
print(2*3.4)
print(9.4/3)
print(9.4//3)
print(2**8)
print(10%3)

a=12
b=a
print(a+b)

## Desafio

In [252]:
salario = 3450.45
despesas = 2456.2
percentual = despesas*100/salario
print('O percentual comprometido foi de '+ str(percentual) + '%.')
print ('O percentual comprometido foi de {}%.' .format(percentual))
print ('O percentual comprometido foi de %.1f%%.' %(percentual))
print (f'O percentual comprometido foi de {percentual}%.')

O percentual comprometido foi de 71.1849179092582%.
O percentual comprometido foi de 71.1849179092582%.
O percentual comprometido foi de 71.2%.
O percentual comprometido foi de 71.1849179092582%.

# Operadores Relacionais

In [ ]:
3>4
4>=3
1<2
3<=1
3!=2
3==3
2=='2'

# Operadores de Atribuição

In [ ]:
a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 100
print(a)

# Operadores Lógicos

In [ ]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
False and True
False and False

# Tabela do OR
True and True
True and False
False and True
False and False

# Tabela XOR (ou exclusivo)
True != True
True != False
False != True
False != False

# Negação
not True
not False

not 0
not 1
not -1
not not -1

# CUIDADO operadores bit a bit
True & False
True | False
True ^ True

# and bi a bit
# 3 = 11 (binário)
# 2 = 10
# _ = 10
3 & 2

# or bit a bit
# 3 = 11 (binário)
# 2 = 10
# _ = 11
3 | 2

# xor (ou exclusivo) bit a bit
# 3 = 11 (binário)
# 2 = 10
# _ = 01
3 ^ 2

# Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 3900

# meta = saldo > 0 and salario - despesas >= 0.2 * salario
# meta

# outra opção
saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

## Desafio

In [13]:
trabalho_terca = True
trabalho_quinta = True

tv_50 = trabalho_terca and trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta
sorvete = trabalho_terca or tabalho_quinta
saudavel = not sorvete

print("TV 50 = {}  TV 32 = {}  Sorvete = {}  Saudável = {}"
    .format(tv_50, tv_32, sorvete, saudavel))

"{1}, {2} = {0}".format(1, False, 'resultado')

TV 50 = True  TV 32 = False  Sorvete = True  Saudável = False

'False, resultado = 1'

# Operadores Unários

In [ ]:
a = 3
# a++ (nao funciona)
# a += 1
a
# a-- (nao funciona)
-a
a = -a
+a

not 0
not 1
not -2
not False
not True
not not False

# Operadores Ternários

In [ ]:
esta_chuvendo = False

print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo])
print('Hoje estou com as roupas ' + ('molhadas.' if esta_chuvendo else 'secas.'))

# Mais Operadores

In [ ]:
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2 ,3]
lista_b = lista_a
lista_c = [1, 2, 3]
lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

# Builtins

In [21]:
# type()
type(1)
__builtins__.type('Fala galera!')
__builtins__.print(10 /3)

#__builtins__.help(__builtins__.dir)
#dir()

1 + 2


# a = 7
# import math
# dir()
dir(__builtins__)
nome = 'joao da silva'
type(nome)
__builtin__.len(nome)
dir()

3.3333333333333335

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_12',
 '_13',
 '_14',
 '_15',
 '_17',
 '_2',
 '_20',
 '_3',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'get_ipython',
 'math',
 'nome',
 'quit',
 'saudavel',
 'sorvete',
 'trabalho_quinta',
 'trabalho_terca',
 'tv_32',
 'tv_50']

# Conversão de Tipos

In [39]:
2 + 3
'2' + '3'
# 2 + '3'
# print(2 + '3')

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

# print(2 + int('3.4'))
print(2 + float('3.4'))

<class 'int'>
<class 'str'>
5
23
5.4

# Coerção automática

In [1]:
10 / 2
type(10 / 2)
10 / 3
10 // 3
type(10 // 3)
10 // 3.3
type(10 // 3.3)
10 / 2.5
type(10 / 2.5)
2 + True
2 + False
type(1 + 2)
type(2 + False)
type(2.5 + True)

float

# Tipos Numéricos

In [20]:
dir(int)
dir(float)


a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a-b)

b.is_integer()
5.0.is_integer()
int.__add__(2,3)
2 + 3

(-2).__abs__()
abs(-2)
type(-2)

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

In [32]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

import decimal
dir(decimal)

dir()

['Decimal',
 'In',
 'Out',
 '_',
 '_1',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_20',
 '_21',
 '_23',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_31',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'decimal',
 'exit',
 'get_ipython',
 'getcontext',
 'quit']

# Tipo String

In [49]:
dir(str)
nome = 'Pedro Martins'
nome
nome [0]
# nome[0] = 'S' não funciona pq a string é imutável

# 'marca d'água'
"Dias D'Avilla" == 'Dias D\'Avilla'
"Teste \"funciona\" "
texto = 'Texto entre aspas simples pode ter "aspas duplas"'
texto

doc = """Texto com múltiplas
    ... linhas"""
doc
print('Texto com múltiplas\n\t... linhas')
print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
doc2
print(doc2)

Texto com múltiplas
	... linhas
Texto com múltiplas
    ... linhas
Também é possível
... com 3 aspas simples

In [64]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3]
nome[4:]
nome[-5:]
nome[:3]
nome[2:5]

numeros = '1234567890'
numeros
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]
numeros[::-2]

nome[::-1]

'aluaP anA'

In [88]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
'py' in frase.lower()
frase
frase.upper()
frase = frase.upper()
frase

frase.split()
frase.split('E')

# dir(str)
# help(str.center)

['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

In [96]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

dir(str)
len(a)
a.__len__()
'1' in a
a.__contains__('1')

True

# Lista

In [119]:
lista = []
type(lista)
dir(list)
# help(list)
len(lista)
lista.append(1)
lista.append(5)
lista.append([1, 2, 3])
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5)
nova_lista
nova_lista.reverse()
nova_lista
lista

[1, 5, [1, 2, 3]]

In [131]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
# lista.index(42)
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
# lista[5]
lista[-1]
lista[-5]

1

In [145]:
lista = ['Ana', 'Lia', 'Rui', ' Paulo', 'Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[1::2]
lista[::-1]
del lista[2]
lista
del lista[1:]
lista

['Ana']

In [167]:
lista = ['Pedro', 'Tati', 'Ana']
lista[0]
lista.append('Pedroana')
lista[3]
lista[::-1]
lista
lista.reverse()
lista
lista[0] = 'mané'
lista

['mané', 'Ana', 'Tati', 'Pedro']

# Tupla

In [175]:
tupla = tuple()
tupla = ()
type(tupla)
# dir(tuple)
# help(tuple)
tupla = ('um')
type(tupla)
tupla = ('um',)
type(tupla)
tupla[0]
# tupla[0] = 'novo'
cores = ('verde', 'amarelo', 'azul', 'azul', 'azul', 'branco')
cores[0]
cores[-1]
cores[1:]

cores.index('amarelo')
cores.count('azul')
len(cores)

6

# Dicionário

In [196]:
pessoa = {'nome':'Prof(a) Ana', 'idade':38, 'cursos':['Inglês', 'Portguês']}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
# pessoa['tags']
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa['idade']
pessoa.get('idade')
pessoa.get('tags')
pessoa.get('tags', [])

[]

In [204]:
pessoa = {'nome':'Alberto', 'idade': 43, 'cursos':['React', 'Python']}
pessoa['idade']=44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade')

pessoa
pessoa.update({'idade':40, 'sexo': 'M'})
pessoa

del pessoa['cursos']
pessoa
pessoa.clear()
pessoa

{}

# Conjunto

In [229]:
a = {1, 2, 3}
type(a)
# a[0]
a = set('codddd3r')
print(a)
print(4 not in a, 4 in a, '3' in a)
{1, 2, 3} == {2, 3, 2, 1, 1}

# operações
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.difference(c2)
c2.difference(c1)
c1.update(c2)
c1
c2 <= c1 #ver se é subconjuto
c1 >= c2
c1 <= c2

{1, 2, 3} - {2}
c1 - c2
c1 -= {2}
c1

{'o', 'c', 'd', 'r', '3'}
True False True

{1, 3}

# Interpolação

In [243]:
from string import Template

nome, idade = 'Ana', 30.9875

print('Nome: %s Idade: %.2f %r %d' %(nome, idade, False, True)) # mais antiga
print('Nome: {0} Idade: {1}' .format(nome, idade)) # python < 3.6
print(f'Nome: {nome} Idade: {idade}') # pyhton >= 3.6

s = Template('Nome: $n Idade: $i')
print(s.substitute(n=nome, i=idade))

Nome: Ana Idade: 30.99 False 1
Nome: Ana Idade: 30.9875
Nome: Ana Idade: 30.9875
Nome: Ana Idade: 30.9875